.App {
	text-align: center;
}

/* Used by default with NavLink*/
.active {
	color: lightyellow;
	text-decoration: none;
}

.activeLink {
	color: lightyellow;
	text-decoration: none;
}

.skillLink {
	font-size: 25px;
	text-decoration: none;
}

.skillLink:hover {
	text-decoration: underline;
}

a {
	color: lightblue;
	font-size: 20px;
}

nav {
	background-color: darkslategray;
	padding: 5px;
}

nav a {
	margin: 10px;
}

button {
	padding: 15px;
	font-size: 30px;
	border-radius: 5px;
	border: 0;
	margin: 20px;
	cursor: pointer;
}

h1 {
	font-size: 30px;
	margin-top: 20px;
}